@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --pink: #fb2142;
  --dark: #30526a;
  --blue: #5ec9cc;
  --red: #f25044;
  --yellow: #f9d291;
  --brown: #672b01;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.6rem;
}

h3 {
  font-weight: 500;
}

p {
  line-height: 1.6;
  padding-bottom: 5px;
}

footer {
  background-color: #fff;
  padding: 50px;
  text-align: center;
}

header {
  background: url(./assets/background/background.png) no-repeat center
    center/cover;
  height: 30rem;
  position: relative;
}

/* .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.logo {
  width: 4.5rem;
  border-radius: 50%;
  border: 1px solid white;
  padding: 0.2rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.nav-links li {
  margin: 0 15px 3px;
  /* 3px margin bottom is placeholder for hover border */
  padding: 4px 0;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-links li a {
  color: #1c3141;
}

.nav-links li:hover {
  transition: 0.1s;
  border-bottom: #fff 3px solid;
  margin-bottom: 0;
  color: #fff;
}

.nav-links li:hover a {
  color: #fff;
}

.title {
  color: var(--pink);
  margin: 1.5rem 4rem;
}

.title h1 {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.title h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.title p {
  font-size: 1rem;
  padding: 0.3rem 0.2rem;
}

/* Skills: */
.skill-section {
  padding: 1rem 0;
  text-align: center;
  background: var(--yellow);
}

.skill-section p {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
  margin: auto;
}

.skills-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px 5px;
}

.skill-type {
  font-weight: bold;
  padding-bottom: 0.4rem;
}

.skill {
  border-radius: 20px;
  padding: 3px 10px;
  text-align: center;
  width: fit-content;
  white-space: nowrap;
  /* background: var(--red); */
  background: rgb(250, 147, 133);
}

/* Bio */
.bio-section {
  background: var(--pink);
  padding: 2rem 1rem;
}

.bio-section .container {
  width: 95%;
  margin: auto;
}

/* !!! maybe move this: */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.bio {
  border-radius: 20px;
  padding: 1rem;
  margin: 1.7rem auto;
  border: #fff 5px solid;
}

.bio p {
  line-height: 1.8;
  color: #fff;
}

.profile-pic {
  border-radius: 50%;
  width: 21rem;
  justify-self: center;
}

/* Projects  */
.projects-section {
  background: #fff;
}

.projects-section h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 1.5rem 0 0.7rem;
  color: var(--dark);
  border-bottom: var(--dark) 2px solid;
  margin: 0 10rem 2rem;
}

.line {
  border-bottom: var(--dark) 2px solid;
  margin: 1.5rem 10rem;
}

.project {
  background: var(--blue);
  /* margin: 2rem 0; */
  padding: 1rem 1.5rem;
  margin: 1rem;
  border-radius: 20px;
}

/* Project title bar */
.project .project-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project .project-name h3 {
  padding-top: 0.3rem;
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
}

.project .icon {
  width: 4rem;
  border-radius: 50%;
}

/* Main projects body */
.buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

/* Link Buttons: */
.btn a {
  display: inline-block;
  width: max-content;
  padding: 10px 15px;
  border-radius: 5px;
  border: var(--dark) 2px solid;
  background: #fff;
  color: var(--dark);
  transition: 0.3s;
}

.btn a:hover {
  color: #fff;
  background: var(--dark);
}

.btn a i {
  padding-right: 5px;
}

video {
  width: 100%;
}

.project-text p {
  background: rgba(255, 255, 255, 0.7);
  color: var(--dark);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.skills-heading {
  font-weight: bold;
  padding: 10px 0 5px;
  text-align: center;
  font-weight: 300;
}

.dark {
  background: var(--dark);
  color: #fff;
  font-weight: 300;
}

/*  */
/*  */
/*  */
/*  */
/* !!!!!!! OLD: */

/* in the projects section: */

/* Drop down section stuff */
.drop {
  border-top: #ccc 1px solid;
  /* padding: 0.2rem 0.5rem 0.7rem; */
}

.drop:last-child {
  padding: 1.4rem 0.5rem;
  border-bottom: #ccc 1px solid;
}

.drop > :first-child {
  display: flex;
  justify-content: space-between;
}

.drop button {
  border: none;
  background: var(--blue);
}

.drop button:hover {
  cursor: pointer;
}

.drop .fa-chevron-down {
  transition: transform 0.5s;
}

.hide {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.closed {
  max-height: 0;
}

.open {
  max-height: 200rem;
}

.margin-placeholder {
  /* this cannot go in the main hide div, else the margin space is still there even when the content itself is 'hidden': */
  margin: 1.5rem 0.5rem;
}

/* Projects section cont... */

/* Sliding section / mini projects section: */
.area {
  position: relative;
  height: 35rem;
}

.arrow {
  position: absolute;
  top: 50%;
  color: #ccc;
}

.arrow:hover {
  cursor: pointer;
  color: rgb(235, 235, 235);
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.slide-div {
  display: none;
  padding-bottom: 20px;
  height: 7rem;
}

.slide-div .btn {
  margin: 12px 0 10px;
}

.div0 {
  display: block;
}

.img-space {
  width: 90%;
  margin: 70px auto;
  padding: 10px;
  border: rgba(184, 183, 183, 0.379) 1px solid;
}

/* Footer: */
footer {
  background: var(--light-color);
}

footer a {
  color: var(--off-black);
}

footer div:first-child {
  display: flex;
  justify-content: center;
  grid-gap: 20px;
}

footer div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding-top: 6px;
}

/* Other: */
/* .mt-2 {
  margin-top: 12px;
}

.mt-3 {
  margin-top: 18px;
} */

/* Media queries: */
@media (max-width: 1100px) {
  /* .container {
    width: 95%;
    padding: 10px 20px;
    margin: 40px auto;
  } */

  /* section {
    padding: 20px;
  } */

  .bio {
    margin: 10px auto;
  }

  .skills {
    padding-left: 2rem;
  }

  .video,
  video {
    width: 40rem;
  }
}

@media (max-width: 780px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid > :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-face {
    margin: 0;
  }

  .video,
  video {
    width: 30rem;
  }

  .area {
    height: 28rem;
  }

  .slide-div {
    height: 8rem;
  }

  .arrow {
    top: 60%;
  }

  .left {
    left: -8px;
  }

  .right {
    right: -8px;
  }

  .img-space {
    width: 100%;
    margin: 80px auto;
    padding: 0;
  }

  .drop {
    padding: 0.8rem 0.2rem;
  }
}

@media (max-width: 600px) {
  .nav-links li {
    font-size: 1rem;
  }

  .skills {
    padding: 0;
  }

  .video,
  video {
    width: 20rem;
  }

  .area {
    height: 22rem;
  }

  .slide-div {
    height: 8rem;
    font-size: 0.8rem;
  }

  .img-space {
    margin: 60px auto;
  }

  footer {
    padding: 30px 0;
  }

  .margin-placeholder {
    margin: 0.8rem 0.5rem;
  }

  #projects {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
    margin: 4px 5px;
    padding-top: 15px;
  }

  .logo {
    margin: 5px auto 10px;
  }

  .nav-links {
    margin: 12px auto 5px;
  }

  .nav-links li {
    margin: 0 auto 3px;
  }

  /* .container {
    margin: 20px auto;
  } */

  .img-space {
    margin: 85px auto;
  }
}

@media (max-width: 400px) {
  .video,
  video {
    min-width: 18rem;
  }

  .slide-div {
    height: 9rem;
  }

  .slide-div .skills-box .skill {
    margin: 2px;
  }
}
